*.o
*.obj
*.out
*.exe
*.bin
*.so
*.dll
*.a
*.lib


build/
dist/
bin/
obj/

logs/

__pycache__/
*.pyc
.venv/

node_modules/
npm-debug.log

*.class
*.jar
*.war

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log

.env
*.pem
*.key